@{
    ViewBag.Title = "О Нас";
    Layout = "_Layout";
}

<div class="container">
    <h2 class="mb-2">Наши приемущества</h2>
    <ul>
        <li style="text-align: left;">
            <strong>Собственное производство.</strong>
            Мы сами производим ювелирные украшения, контролируя каждый этап и в результате предлагая покупателям украшения высокого качества.
        </li>
        <li style="text-align: left;">
            <strong>Известные ювелирные бренды.</strong>
            Мы работаем с проверенными поставщиками в России и за рубежом, чтобы наши покупатели могли баловать себя лучшими ювелирными коллекциями.
        </li>
        <li style="text-align: left;">
            <strong>Ювелирная экспертиза и отдел проверки качества.</strong>
            Мы проверяем себя, проверяем других, стараемся, чтобы на витрины попадали только проверенные украшения.
        </li>
        <li style="text-align: left;">
            <strong>География - вся Россия.</strong>
            Наши салоны расположены в крупнейших городах и областных центрах по всей стране.
        </li>
        <li style="text-align: left;">
            <strong>Гарантия подлинности.&nbsp;</strong>
            На каждом ювелирном изделии нанесена проба и прикреплена бирка, которая содержит всю информацию о нем.
        </li>
        <li style="text-align: left;">
            <strong>Накопительная программа.&nbsp;</strong>
            Мы фиксируем каждую покупку и повышаем размер скидки по вашей дисконтной карте.
        </li>
        <li style="text-align: left;">
            <strong>Отзывчивые и грамотные консультанты в белоснежных перчатках.</strong>
            Мы берём в команду тех, кто ценит красоту, любит людей и готов постоянно учиться, а потом делиться своими знаниями с покупателями.
        </li>
    </ul>
    <hr class="featurette-divider">
    <h2 class="mb-2">Нас можно найти по этому адреcу</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d696.9519906779815!2d38.28708310483383!3d54.015949845780106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41369c113d09b4d1%3A0x26074e22661c74d!2z0KLQvtGA0LPQvtCy0L4t0YDQsNC30LLQu9C10LrQsNGC0LXQu9GM0L3Ri9C5INGG0LXQvdGC0YAgItCf0LXRgNCy0YvQuSI!5e0!3m2!1sru!2sru!4v1651065010185!5m2!1sru!2sru" width="100%"  style="border:0; min-height: 350px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <hr class="featurette-divider">
    <h2>Что говорят о нас наши покупатели</h2>
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="/dist/images/user.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Олег</h2>
            <p>Отличное качество ювелирных украшений. Не раз обращался к вам что бы купить украшения девушке. Ей нравятся украшения в коллекции THE HARDKISS. Недавно приобрел кожаный чокер с вставками из желтого золота. Стильная и необычная вещь.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="/dist/images/user.png" alt="Generic placeholder image" width="140" height="140">
            <h2>Надя</h2>
            <p>Менеджер магазина - меня просто выручил, когда так оформил для меня  заказ, что посылка с золотой цепочкой пришла 10 февраля, а на следующий день - эту цепочку я подарила своей сестре (день рождения). Всю переписку я вела через внутренний чат сайта, через который мне и помогли выбрать подарок.</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="/dist/images/user.png" alt="Generic placeholder image" width="140" height="140">
            <h2>kukla_v_sinem</h2>
            <p>Доступные цены, приятный сервис, отличный выбор, много магазинов в разных точках города</p>

        </div><!-- /.col-lg-4 -->
    </div>
</div>
