@model IEnumerable<Product>

@{
    ViewBag.Title = "Каталог";
    Layout = "_Layout";
}

<div class="container">
  <form class="bg-secondary text-white p-2 mb-2 rounded-bottom" method="get" asp-action="Catalog" enctype="multipart/form-data">
    <div class="form-group row mb-2">
      <label class="col-sm-2 col-form-label">Поиск</label>
      <div class="col-sm-10">
        <input type="text" name="searchString" class="form-control col-6" id="searchString">
      </div>
      <div class="d-flex mt-2">
        <label class="col-sm-2 col-form-label">Категория</label>
        <div class="col-md-8">
          <select class="form-select col-md-4" name="categoryId" asp-items="ViewBag.SelectItems">
            <option value="0" selected>Всё</option>
          </select>
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-danger text-white">Поиск</button>
          <a class="btn btn-outline-danger text-white" asp-controller="Home" asp-action="Clear">Очистить</a>
        </div>
      </div>
    </div>
  </form>
  
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-shop" type="button" role="tab" aria-controls="nav-shop" aria-selected="true">Товары</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-service" type="button" role="tab" aria-controls="nav-service" aria-selected="false">Услуги</button>
    </div>
  </nav>
  
  
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-shop" role="tabpanel" aria-labelledby="nav-shop-tab">
      <div class="row row-cols-md-4 row-cols-sm-2 mt-2">
        @foreach (Product item in @Model)
        {
          @await Html.PartialAsync("ProductSummary", item)
        }
      </div>
    </div>
    
    <div class="tab-pane fade" id="nav-service" role="tabpanel" aria-labelledby="nav-service-tab">
      <div class="card text-dark my-2">
        <img src="/dist/images/header-poster.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Ремонт ювелирных изделий</h5>
          <p class="card-text">УСЛУГИ ПРОФЕССИОНАЛЬНОГО ЮВЕЛИРА В SOKOLOV</p>
          <form class="col-md-4 col-sm-12">
            <div class="form-floating my-1">
              <input for="Email" id="Email" class="form-control" placeholder="name@example.com">
              <label for="Email">Ваша почта</label>
            </div>
            <div class="form-floating my-1">
              <input class="form-control" for="Name" id="Name" placeholder="ФИО">
              <label for="Name">Ваше ФИО</label>
            </div>
            <button class="w-100 btn btn-lg btn-danger my-1 text-white">Отправить заявку</button>
          </form>
        </div>
      </div>
      
      <div class="card my-2">
            <img src="/dist/images/make.jpg" class="card-img" alt="...">
            <div class="card-img-overlay text-white">
              <h5 class="card-title">Изготовление по эскизам</h5>
              <p class="card-text">Оставьте заявку и наш мастер свяжется с Вами</p>
              <form class="col-md-4 col-sm-12 text-dark">
                <div class="form-floating my-1">
                  <input for="Email" id="Email" class="form-control" placeholder="name@example.com">
                  <label for="Email">Ваша почта</label>
                </div>
                <div class="form-floating my-1">
                  <input class="form-control" for="Name" id="Name" placeholder="ФИО">
                  <label for="Name">Ваше ФИО</label>
                </div>
                <button class="w-100 btn btn-lg btn-danger my-1 text-white">Отправить заявку</button>
              </form>
            </div>
          </div>
    </div>
  </div>
</div>
